---
import { asset } from '../lib/data.js';
const { id, name, thumb } = Astro.props;
---
<a class="creature" href={`/topic/${id}`}>
  <img src={asset(thumb)} alt={name} loading="lazy" />
  <span>{name}</span>
</a>
